<%if params["format"].present?%>
  <head>
       <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  </head>
     <center>
       <%=form_for "set password" ,:url=>{:controller=>"users",:action=>"set_new_password"} do |i|%>
       <p>
          <input type="password" name="NPassword" placeholder="New Password" id="txtNewPassword" />
       </p>
          <input type="password" name="RNPassword" placeholder="Retype New Password" id="txtConfirmPassword" onChange="isPasswordMatch();" />
       <div id="divCheckPassword" style="color:red;"></div>
       <%=i.hidden_field :id,:value=>params["format"]%>
       <%=i.submit "submit"%>

<%end%>

</center>

<%end%>
<script type="text/javascript">
	$('#txtConfirmPassword').on('keyup', function () {
    var password = $("#txtNewPassword").val();
    var confirmPassword = $("#txtConfirmPassword").val();

    if (password != confirmPassword) $("#divCheckPassword").html("Passwords do not match!");
    else $("#divCheckPassword").html("");
});
</script>