
<center><h3>Editing Project</h3></center>

<div style="float: right; margin: 5px 65px;">

<%= link_to 'Show', @project ,:class=>"btn btn-danger" %>
<%= link_to 'Back', project_path ,:class=>"btn btn-success" %>

</div>
<%= render 'form', project: @project %>

